@keyframes colorful{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border-style: none;
    color: white;
}
h3, span p{
    font-family: 'Courier New', Courier, monospace;
}
html, body{
    width: 100%;
    height: 100%;
    background: blue;
}
.rasm1{
    border-color: aqua;
    align-items: center;
    width: 50px;
    height: 80px;
}
.rasm2{
    border-color: blue;
    align-items: right;
    width: 50px;
    height: 80px;
}
.container{
    background-size: auto;
    
}